.frutales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
}

.frutales .card{
    color: #333;
    padding: 20px;
    transition: all 0.3s ease;
    position: relative;
    margin: auto;
    cursor: pointer;
    width: 250px;
    min-height: 300px;

}

.frutales .card h4 {
    text-align: center;
}

.frutales .card img{
    max-width: 250px;
}

