.navbar {
    padding: 20px;
}

.navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar a {
    text-decoration: none;
}

.navbar a.home {
    margin-right: auto;
}

.navbar a:last-child {
    margin-left: 40px;
}